---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryProducts" category.products}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}

{{#unless theme_settings.hide_category_page_heading }}
<h1 class="page-heading">{{category.name}}</h1>
{{{region name="category_below_header"}}}
{{/unless}}

<div style="display: flex; justify-content: space-between">
    <ul>
        <li style="display:inline-block">
            <button class="navUser-action"
                type="button"
                id="addAllToCart"
                aria-label="{{lang 'products.add_all_to_cart'}}"
            >
                {{lang 'products.add_all_to_cart'}}
            </button>
        </li>
        {{#if cart.items}}
        <li style="display:inline-block">
            <button class="navUser-action"
                type="button"
                id="removeAllFromCart"
                aria-label="{{lang 'products.remove_all_from_cart'}}"
            >
                {{lang 'products.remove_all_from_cart'}}
            </button>
        </li>
        {{/if}}
    </ul>
    {{#if customer}}
    <ul>
        <li style="display:inline-block"><b>Name</b>: {{customer.name}}</li>
        <li style="display:inline-block; margin-left: 3em"><b>Email</b>: {{customer.email}}</li>
        {{#if customer.phone}}
        <li style="display:inline-block; margin-left: 3em"><b>Phone</b>>: {{customer.phone}}</li>
        {{/if}}
    </ul>
    {{/if}}
</div>
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
